body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 25px;
    text-transform: upp
}
.submit{
    background-color: orange;
    font-size: 100px;
    transition: background-color 0.5s;
}
.submit:hover{
    background-color: black;
    color: orange;
    border-radius: 15px;
}
p{
    display: inline-block;
    margin: 10px 0px;

}
.field{
    width: 542px;
    height: 25px;
    border: orange 1px solid;
}
